.form-group {
    margin-bottom: 2%;
}

.objects-group {
    margin-bottom: 5%;
    height: 120px;
    overflow-y: scroll;
}

.accordion-input-label {
    margin-bottom: 0% !important;
}

.accordion-input-item {
    margin-bottom: 5%;
}

#generate-sdl-btn {
    margin-bottom: 1%;
    position: absolute;
    bottom: 0
}

#keyboard-shortcuts {
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
    background: transparent;
}

#loopsAccordion, #blocksAccordion {
    margin-top: 5%;
}

#add-loop-btn, #add-block-btn {
    margin-top: 5%;
    margin-left: 70%;
}

#add-new-array-item {
    text-align: center;
}

#array-dropdown-menu {
    height: 180px;
    overflow-y: scroll;
}

.blurred {
    filter: blur(5px);
}

.theme-icon {
    font-size: 13px !important;
}

#flexSwitchCheckChecked {
    height: 20px;
    width: 35px;
}

#flexSwitchCheckChecked:checked {
    background-color: #5e2669;
    border-color: #7d2381;
}