.form-group {
    margin-bottom: 2%;
}

.objects-group {
    margin-bottom: 5%;
    height: 120px;
    overflow-y: scroll;
}

.accordion-input-label {
    margin-bottom: 0% !important;
}

.accordion-input-item {
    margin-bottom: 5%;
}

.input-number-blocks {
    height: 100%;
}

.loop-config-row {
    margin-bottom: 2%;
}

.event-section {
    margin-bottom: 30%;
    margin-top: 10%;
}

.event-btn {
    margin-bottom: 8%;
    width: 30px;
}

#generate-sdl-btn {
    margin-bottom: 1%;
    position: absolute;
    font-size: 20px;
    bottom: 0
}

#keyboard-shortcuts {
    margin-bottom: 1%;
    position: absolute;
    bottom: 0;
}

#reset-btn, #undo-btn, #redo-btn, #save-plot-btn {
    background: transparent;
    font-size: 14px;
    margin-top: 8%;
}

#add-event-btn {
    font-size: 14px;
    background: transparent;
    margin-top: 15%;
}

#plot-size-btn {
    font-size: 14px;
    background: transparent;
    margin-top: 15%;
    border: none;
}

#saved-msg {
    padding: 5px;
    margin-top: 8%;
}

#loopsAccordion, #blocksAccordion {
    margin-top: 5%;
}

#add-loop-btn {
    margin-top: 5%;
    margin-left: 70%;
}

#loops-btn, #arrays-config-btn, #settings-btn {
    margin-bottom: 5%;
}

#arrays-config-icon {
    font-size: 12px;
}

#add-new-array-item {
    text-align: center;
}

#array-dropdown-menu, #phase-array-dropdown-menu {
    height: 180px;
    overflow-y: scroll;
}

#leftSidebar {
    height: 100vh;
    overflow-y: auto;
}

#body-container {
    padding-left: 0px;
}

#block-select {
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 1%;
}

#array-select, #event-action-select {
    width: 30%;
}

#add-block-btn {
    margin-bottom: 5%;
    width: 20%;
    margin-left: 75%;
}

#nestingCol {
    display: block;
}

#upload-checkpoint-label {
    margin-bottom: 1%;
}

#array_manager_chart {
    margin-bottom: 2%;
    margin-left: 4%;
}

#events-col {
    background: #0e0f10;
    border-right: 1px solid #34373b;
}

#plot-col {
    padding-right: 0px;
    padding-left: 0px;
    border-left: 1px solid #34373b;
}

#object-btns-group {
    padding-right: 0px;
}

#object-btns-group button {
    border-color: #ffffff1f;
}

#blockDurationSpan {
    font-size: 0.8rem;
    padding-left: 3%;
    padding-right: 3%;
}

.loops-group {
    position: relative;
}

.blurred {
    filter: blur(5px);
}

.theme-icon {
    font-size: 13px !important;
}

.checkpoint-control {
    margin-top: 16%;
}

.checkpoint-icon {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 0.2rem;
    background: transparent;
}

#flexSwitchCheckChecked {
    height: 20px;
    width: 35px;
}

#flexSwitchCheckChecked:checked {
    background-color: #5e2669;
    border-color: #7d2381;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    border: 1px solid #cacaca00;
}

::-webkit-scrollbar-thumb {
    height: 5px;
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #cdd3ddda;
}

/* block duration slider styling */
#sliderSection span.irs-bar,  #sliderSection span.irs-from, #sliderSection span.irs-to, #sliderSection span.irs-single, #sliderSection span.irs-handle>i:first-child{
    background-color: #6d757d;
}

#sliderSection span.irs-to:before, #sliderSection span.irs-from:before, #sliderSection span.irs-single:before {
    border-top-color: #6d757d;
}

#sliderSection .irs-handle.state_hover>i:first-child, #sliderSection .irs--flat .irs-handle:hover>i:first-child {
    background-color: #dfd8e0;
}

#sliderSection .irs-line {
    background-color: #6a757d36;
}

/* Update light class */
.btn-light {
    background: #fff;
    border: 1px solid #dfe2e6;
}

.navbar-brand {
    font-size: 24px;
}

#brandingText {
    padding-left: 2px;
    letter-spacing: 1px;
}