<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>mtrk &middot; Create SDL</title>
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div class="container-lg">
            <div class="row" style="margin-top: 0%">
              <div id="leftSidebar" class="col-lg-2">
                <div class="row">
                  <select id="block-select" class="form-select" aria-label="Block selection">
                    <option value="Main" selected>Main</option>
                  </select>
                  <button type="button" class="btn btn-secondary" id="add-block-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Add Block">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                  </button>
                  <div class="input-group mb-3">
                    <span class="input-group-text">TR (ms)</span>
                    <!-- <span class="input-group-text">200</span> -->
                    <input id="kernelTimeInput" placeholder="10" class="form-control" aria-label="Kernel Time">
                    <button id="kernel-time-btn" type="button" class="btn btn-secondary">&#10003;</button>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">TE (ms)</span>
                    <input id="" placeholder="10" class="form-control" aria-label="Kernel Time">
                    <button id="" type="button" class="btn btn-secondary">&#10003;</button>
                  </div>
                  <div>
                    <a id="loops-btn" class="btn btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Configure Loops">
                      <i>&#8734;</i>
                    </a>
                  </div>
                </div>
                <div class="row objects-group">
                  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                    <button id="rf_excitation_btn" type="button" class="btn btn-secondary drag" draggable="true">RF</button>
                    <button id="gradient_btn" type="button" class="btn btn-secondary drag" draggable="true">Gradient</button>
                    <button id="adc_readout_btn" type="button" class="btn btn-secondary drag" draggable="true">ADC Readout</button>
                    <button id="" type="button" class="btn btn-secondary drag" draggable="false">Object</button>
                    <button id="" type="button" class="btn btn-secondary drag" draggable="false">Object</button>
                    <button id="" type="button" class="btn btn-secondary drag" draggable="false">Object</button>
                    <button id="" type="button" class="btn btn-secondary drag" draggable="false">Object</button>
                  </div>
                </div>
                <div class="row">
                  <div class="accordion" id="parametersAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          File
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#parametersAccordion">
                        <div class="accordion-body">
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Format</label>
                            <input type="text" class="form-control" id="formatConfigInput" placeholder="mtrk-SDL">
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Version</label>
                            <input type="number" class="form-control" id="versionConfigInput" placeholder=1>
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Measurement</label>
                            <input type="text" class="form-control" id="measurementConfigInput" placeholder="abc">
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">System</label>
                            <input type="text" class="form-control" id="systemConfigInput" placeholder="Skyra-XQ">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Settings
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#parametersAccordion">
                        <div class="accordion-body">
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Readout OS</label>
                            <input type="number" class="form-control" id="readoutSettingInput" placeholder=2>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Info
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#parametersAccordion">
                        <div class="accordion-body">
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Description</label>
                            <input type="text" class="form-control" id="descriptionInfoInput" placeholder="MiniFlash">
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Slices</label>
                            <input type="number" class="form-control" id="slicesInfoInput" placeholder=1>
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">FOV</label>
                            <input type="number" class="form-control" id="fovInfoInput" placeholder=300>
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Seqstring</label>
                            <input type="text" class="form-control" id="seqstringInfoInput" placeholder="YARRA">
                          </div>
                          <div class="accordion-input-item">
                            <label for="formGroupExampleInput" class="form-label accordion-input-label">Reconstruction</label>
                            <input type="text" class="form-control" id="reconstructionInfoInput" placeholder="%SiemensIceProgs%\\IceProgram2D">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="accordion" id="blocksAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="blockHeading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#blockCollapse" aria-expanded="false" aria-controls="blockCollapse">
                          Blocks
                        </button>
                      </h2>
                      <div id="blockCollapse" class="accordion-collapse collapse" aria-labelledby="blockHeading" data-bs-parent="#blocksAccordion">
                        <div class="accordion-body">
                          <div class="accordion" id="blockDetailsAccordion">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="blockHeading">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#blockItem1" aria-expanded="false" aria-controls="blockItem1">
                                  Block 1
                                </button>
                              </h2>
                              <div id="blockItem1" class="accordion-collapse collapse" aria-labelledby="blockHeading" data-bs-parent="#blockDetailsAccordion">
                                <div class="accordion-body">
                                  <div class="accordion-input-item">
                                    <label for="formGroupExampleInput" class="form-label accordion-input-label">Dummy</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Block_TR">
                                  </div>
                                  <div class="accordion-input-item">
                                    <label for="formGroupExampleInput" class="form-label accordion-input-label">Dummy</label>
                                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder=128>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-secondary" id="add-block-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="row">
                  <div class="accordion" id="loopsAccordion">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                          Loops
                        </button>
                      </h2>
                      <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#loopsAccordion">
                        <div class="accordion-body">
                          <div class="accordion" id="loopDetailsAccordion">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo22">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo22" aria-expanded="false" aria-controls="collapseTwo22">
                                  Loop 1
                                </button>
                              </h2>
                              <div id="collapseTwo22" class="accordion-collapse collapse" aria-labelledby="headingTwo22" data-bs-parent="#loopDetailsAccordion">
                                <div class="accordion-body">
                                  <div class="accordion-input-item">
                                    <label for="formGroupExampleInput" class="form-label accordion-input-label">Block</label>
                                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Block_TR">
                                  </div>
                                  <div class="accordion-input-item">
                                    <label for="formGroupExampleInput" class="form-label accordion-input-label">Range</label>
                                    <input type="number" class="form-control" id="formGroupExampleInput" placeholder=128>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-secondary" id="add-loop-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col">
                    <div hidden >
                      <div data-name="popover-content">
                        <ul>
                          <li>Keep shift pressed and move cursor to move boxes and/or blocks.</li>
                          <li>Keep control pressed and click on boxes to select/unselect boxes.</li>
                          <li>With boxes selected, if add block button is pressed, a block will be created.</li>
                        </ul>
                      </div>
                    </div>
                      <a id="keyboard-shortcuts" tabindex="0" class="btn btn-lg btn-secondary shortcuts-popover" role="button"
                      data-bs-toggle="popover" data-bs-trigger="focus" title="Shortcuts and Tips">
                      <i class="fa fa-lightbulb-o"></i></a>
                    </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div id="rf_chart" class="dropzone"></div>
                <div id="slice_chart" class="dropzone"></div>
                <div id="phase_chart" class="dropzone"></div>
                <div id="readout_chart" class="dropzone"></div>
                <div id="adc_chart" class="dropzone"></div>

                <div class="modal fade" id="parametersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Parameters</h5>
                        <button id="modal_close_logo_btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form id="parametersForm" action="">
                          <div id="rf-parameters-group" class="form-group">
                            <label for="inputRFType">RF Type</label>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="rfExcitationRadio" value="excitation" checked>
                              <label class="form-check-label" for="rfExcitationRadio">
                                Excitation
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="rfRefocusRadio" value="refocus">
                              <label class="form-check-label" for="rfRefocusRadio">
                                Refocus
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" placeholder="Ex: Grad Slice Refocus">
                          </div>
                          <div class="form-group">
                            <label for="inputStartTime">Start Time (ms)</label>
                            <input type="number" class="form-control" id="inputStartTime" placeholder=0>
                          </div>
                          <div class="form-group">
                            <label for="inputAnchorTime">Anchor Time (ms)</label>
                            <input type="number" class="form-control" id="inputAnchorTime" placeholder=0>
                          </div>
                          <div class="form-group">
                            <label for="inputAmplitude">Amplitude</label>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="constantRadio" value="constant" checked>
                              <label class="form-check-label" for="exampleRadios1">
                                Constant
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="variableRadio" value="variable">
                              <label class="form-check-label" for="exampleRadios2">
                                Variable
                              </label>
                            </div>
                            <input type="number" class="form-control" id="inputConstantAmplitude" placeholder=0>
                            <div id="variableAmplitudeGroup" class="form-row">
                              <div class="form-group col">
                                <label for="inputStepChange">Step Change</label>
                                <input type="number" class="form-control" id="inputStepChange" placeholder=0>
                              </div>
                              <div class="form-group col">
                                <label for="inputLoopNumber">Loop Number</label>
                                <input type="number" class="form-control" id="inputLoopNumber" placeholder=0>
                              </div>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="flipAmplitudeCheck">
                              <label class="form-check-label" for="flipAmplitudeCheck">
                                Flip Amplitude
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="btn-group">
                              <button type="button" id="array-selection-btn" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Default Array</button>
                              <ul id="array-dropdown-menu" class="dropdown-menu">
                              </ul>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button id="delete_object_btn" type="button" class="btn btn-danger">Delete Object</button>
                        <button id="modal_close_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="save_changes_btn" type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="addArrayModal" tabindex="-1" aria-labelledby="addArrayModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addArrayModalLabel">Array Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="addArrayForm" action="">
                          <div class="form-group">
                            <label for="inputArrayName">Name</label>
                            <input type="text" class="form-control" id="inputArrayName" placeholder="Ex: grad_100_2660_100">
                            <div id="inputArrayNameInvalidFeedback" class="invalid-feedback">
                              Please add a name.
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputArrayValues">Values (numbers seperated by comma)</label>
                            <textarea id="inputArrayValues" class="form-control" aria-label="With textarea" placeholder="Ex: 0.1, 0.2, 0.3, 0.4, 0.5"></textarea>
                            <div id="inputArrayValuesInvalidFeedback" class="invalid-feedback">
                              Please add values in the required format.
                            </div>
                          </div>
                          <div id="addArrayValidFeedback" class="valid-feedback">
                            New array added!
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="save-array-btn" type="button" class="btn btn-primary">Save Array</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="blockModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="blockModalLabel">Block Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form id="blockForm" action="">
                          <div class="form-group">
                            <label for="inputBlockName">Name</label>
                            <input type="text" class="form-control" id="inputBlockName" placeholder="Ex: Block 1">
                          </div>
                          <div class="form-group">
                            <label for="blockStartTime">Start Time (ms)</label>
                            <input type="number" class="form-control" id="blockStartTime" placeholder=0>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button id="block_delete_object_btn" type="button" class="btn btn-danger">Delete Block</button>
                        <button id="block_modal_close_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="block_save_changes_btn" type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="loopsModal" tabindex="-1" aria-labelledby="loopsModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="loopsModalLabel">Configure Loops</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div id="nestingCol" class="col-1">
                            <!-- Space to add group lines -->
                          </div>
                          <div id="loopsInputGroup" class="col list-group">
                            <!-- space to add block list groups. -->
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <!-- <button id="group_block_inputs_btn" type="button" class="btn btn-success">Add Group</button> -->
                        <button id="loops_modal_close_btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="loops_save_changes_btn" type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1">
                <div id="modeSwitch" class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked">
                    <i class="fa fa-moon-o theme-icon"></i>
                  </label>
                </div>
                <a id="back-btn" class="btn btn-sm btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back">
                  <i class="fa fa-arrow-left"></i>
                </a>
                <a id="reset-btn" class="btn btn-sm btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset">
                  <i class="fa fa-rotate-right"></i>
                </a>
                <div>
                  <a id="save-plot-btn" class="btn btn-sm btn-secondary" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Save Changes">
                    <i class="fa fa-save"></i>
                  </a>
                  <div id="saved-msg" class="alert alert-success d-none" role="alert">
                    Saved!
                  </div>
                </div>
                <button id="generate-sdl-btn" class="btn btn-secondary" type="submit">Generate</button>
              </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="/static/index.js" charset="utf-8"></script>
    </body>
</html>
